.contentNavigationCarousel
  .contentCollection
    .contentItem
      img(data-src='example.com/150x150/mo', alt='photo1')
      h2: a.contentLink(href='http://www.github.com') A headline about Github.com
      p Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Duis sollicitudin, lacus non volutpat porta, magna quam tincidunt nislem. Maecenas sem erat, scelerisque in elementum ut, lacinia posuere dui. Etiam nec dui accumsan semper nec a nunc.
    .contentItem
      img(data-src='example.com/150x150/mo', alt='photo1')
      h2: a.contentLink(href='http://www.google.com') This headline is about Google.com
      p Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Duis sollicitudin, lacus non volutpat porta, magna quam tincidunt nislem. Maecenas sem erat, scelerisque in elementum ut, lacinia posuere dui. Etiam nec dui accumsan semper nec a nunc.
    .contentItem
      img(data-src='example.com/150x150/mo', alt='photo1')
      h2: a.contentLink(href='http://www.apple.com') An interesting thing happened on Apple.com
      p Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Duis sollicitudin, lacus non volutpat porta, magna quam tincidunt nislem. Maecenas sem erat, scelerisque in elementum ut, lacinia posuere dui. Etiam nec dui accumsan semper nec a nunc.
    .contentItem
      img(data-src='example.com/150x150/mo', alt='photo1')
      h2: a.contentLink(href='http://www.yahoo.com') This headline is about Yahoo.com and is longer than the previous headline
      p Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Duis sollicitudin, lacus non volutpat porta, magna quam tincidunt nislem. Maecenas sem erat, scelerisque in elementum ut, lacinia posuere dui. Etiam nec dui accumsan semper nec a nunc.
    .contentItem
      img(data-src='example.com/150x150/mo', alt='photo1')
      h2: a.contentLink(href='http://www.microsoft.com') A Microsoft.com story
      p Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Duis odio odio, laoreet eu tellus. Aenean lorem nisl, molestie ut pulvinar in, rhoncus pellentesque nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Duis sollicitudin, lacus non volutpat porta, magna quam tincidunt nislem. Maecenas sem erat, scelerisque in elementum ut, lacinia posuere dui. Etiam nec dui accumsan semper nec a nunc.